body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}

h1{
  font-size: 2rem;
  line-height: 1.1875;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.carousel {
  width: 680px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel-slides {
  display: flex;
  width: 680px;
  margin: 0 auto;
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.carousel-slide {
  min-width: 680px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
}

a{
  z-index: 10;
  text-decoration: none;
}

.carousel-navigation a {
    display: block;
    padding: 10px;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  z-index: 10;
}
