body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

h1{
  text-align: center;
  font-size: 2rem;
  line-height: 1.1875;
  font-weight: 600;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.carousel-slides {
    display: flex;
    width: 680px;
    overflow: hidden;
    margin: 0 auto;
}

  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  z-index: 2;
  text-decoration: none;
}
