body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

h1{
  text-align: center;
  font-size: 2rem;
  line-height: 1.1875;
  font-weight: 600;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.carousel {
  display: grid;
  place-items: center;
}

.carousel-slides {
  width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

a{
  z-index: 2;
  text-decoration: none;
}
